.head {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.head h2 {
  color: #07182c;
  font-size: 16px;
  margin: 0;
}

.head button {
  background: transparent;
  border: 0;
  color: var(--blue-900);
  font-size: 13px;
  font-weight: 800;
  padding: 0;
}
